<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>PandaCore</title>
        <meta charset="UTF-8">
    </head>
    <body>
        {{{body}}}
        <a href="/monthly" title="Home">Home</a>
        <a href="/proposal" title="Proposal">Proposal</a>
        <a href="/" title="login">login</a>
    </body>

=======

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>PandaCore</title>
        <meta charset="UTF-8">
    </head>
    <body>
        {{{body}}}
        <a href="/monthly" title="Home">Home</a>
        <a href="/proposal" title="Proposal">Proposal</a>
        <a href="/" title="login">login</a>
    </body>

>>>>>>> b5e3bd9f2acd3ea3354dada125f45992c3e48ecc
</html>